.CardSmall {
  align-items: center !important;
  display: flex !important;
  margin-bottom: 1rem !important;
}

.card-image {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.image {
  width: 100% !important;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

a {
  color: #03a87c;
  background-color: transparent;
}

a, a:hover {
  transition: all .2s;
  text-decoration: none;
}

.card-head-small {
  font-weight: 700 !important;
  margin-bottom: 0.5rem !important;
  font-size: 1rem;
  margin-top: 0;
}

.excerpt {
  color: rgba(0, 0, 0, 0.59);
  margin-top: 10px;
  margin-bottom: 1rem;
}

.category {
  display: block !important;
  color: #6c757d !important;
  font-size: 85%;
  font-weight: 400;
}

.category-anchor {
  text-decoration: none;
  transition: all .2s;
  color: #6c757d !important;
  text-transform: capitalize !important;
  background-color: transparent;
}

.sep {

}

.date {
  color: #6c757d !important;
  font-size: 85%;
  font-weight: 400;
}

@media (min-width: 768px) {
  .card-image {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}