.left-sidebar, .right-sidebar {
    margin: 0px;
    padding: 5px;
    border-radius: 7pt;
    flex: 1 1 20%;
}

.left-sidebar {
    margin-left: 4px;
    background: #1c9675;
    border: 1px solid #1b7727;
}

.right-sidebar {
    margin-right: 4px;
    background: #fabb13;
    border: 1px solid #8888bb;
}
