.Card {
  margin-bottom: 1.5rem !important;
  border: 0 !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
}

a {
  color: #03a87c;
  background-color: transparent;
}

a, a:hover {
  transition: all .2s;
  text-decoration: none;
}
