.Nav {
  //display: flex;
  //flex-direction: row;
  //text-decoration: none;
  //padding: 0.3rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
}

.mr {
  margin-right: auto;
  padding-left: 0.9rem;
}

.ml {
  margin-left: auto;
}

li a {
  text-decoration: none;
  padding: 12.8px 14.4px;
  color: rgba(0, 0, 0, 0.5);
  font-family:"Segoe UI", "Helvetica Neue", Arial;
  font-size: .93rem;
  font-weight:400;
}

.navbarCollapse > ul > li > a:hover {
  color: rgba(0, 0, 0, 0.7);
}

ul > .search {

}

.search {
  font-size: .85rem;
  border-radius: 30px;
  border: 1px solid #eee;
  color: #999;
  padding: 0.45rem 1.2rem;
  height: calc(2.5rem + 2px);
}

.search:focus {
  border-radius: 30px;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(3, 168, 124, 0.25);
}

.container {
  align-items: center;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;

}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1070px;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 1522px;
    max-width: 1522px;
  }
}
.navbarBrand {

  text-decoration: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 1.55rem;
  font-weight:bold;
  white-space: nowrap;
  padding-top: 0.68rem;
  padding-bottom: 0.68rem;

  margin-right: 2rem;
}

.toggle {

}

.toggleIcon {

}

.navbarCollapse {
  flex-basis: auto;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}